.inputSkeleton {
  flex-grow: 0.25;
}

.datePickerSkeleton {
  overflow: unset;
}

.cardSkeleton {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.wrapper {
  @mixin smaller-than $mantine-breakpoint-sm {
    flex-direction: column;
  }
}

.container {
  position: relative;
  width: 100%;
}
