.inputSkeleton {
  flex-grow: 0.25;
}

.datePickerSkeleton {
  overflow: unset;
}

.cardSkeleton {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.container {
  position: relative;
  width: 100%;
}
